@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
p{
    margin: 0;
}
.link-div{
    margin-right: 35px;
}
.link-div a{
    margin: 0px 19px;
    color: #fff;
    font-size: 23px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}
.link-div  a:hover{
    color: rgb(233, 87, 111);
}
.menu-link a{
    margin: 0px 19px;
    color: #fff;
    font-size: 23px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}
.menu-link a:hover{
    color: rgb(233,87,111);
}
.mat-toolbar {
    background-color: #06005a;
    justify-content: space-between;
}
.mat-toolbar span{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}
.menu-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
::ng-deep .mat-menu-content {
    background-color: #06005a !important;
}
.menu-link a{
    color: #fff;
}
.mat-icon{
    color: #fff;
    font-size: 25px;
    display: none;
    cursor: pointer;
}
@media(max-width:752px){
    .link-div a{
        display: none;
    }
    .mat-icon{
        display: block;
    }
    .link-div{
        margin-right: 18px;
    }
}